
<body style="background-color: rgb(46, 41, 41);">
    <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
            <center>   <form action="" method="post">
                    <h2 class="text-light">Add coupon</h2>
                    <br>
                    <input class="form-control w-50" type="text" name="name" placeholder="Enter coupon name" required>
                    <br>
                    <input class="form-control w-50" type="text" name="offer" placeholder="Enter offer" required>
                    <br>   
                    <input class="form-control w-50" type="text" name="amount" placeholder="enter discount amount" required>
                    <br>            
                    <input style="color: aliceblue;" type="submit" value="Add Coupon" class=" btn cust-btn mt-2 bg-success">
                    <br>
    
                    <span class="text-danger">{{error}}</span>
                </form> </center> 
            </div>
        </div>
    </div>
</body>