<div class="container-fluid login-cont">
    <div class="sub-container">
        <div class="inner">
            <form action="" method="post">
                <h2 class="text-center">Add Coupon</h2>
                <br>
                <input class="form-control" type="text" name="name" placeholder="enter coupon name" required>
                <br>
                <input class="form-control" type="text" name="offer" placeholder="enter offer" required>
                <br>
                <input type="submit" value="Add Coupon" class=" btn cust-btn mt-2">
                <br>
                <span class="text-danger">{{message}}</span>
                <br><br>

                <h6 class="mb-0"><a href="/admin/coupons" class="text-body text-decoration-none"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back</a></h6>
            </form>
        </div>
    </div>
</div>