<body style="background-color: rgb(46, 41, 41);">
    <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
            <center>   <form action="" method="post">
                    <h2 class="text-light">Add Category</h2>
                    <br>
                    <input class="form-control w-50" type="text" name="name" placeholder="enter category name" required="" pattern="^[A-Z]*$" title="NO SPACE ALLOWED">
                    <br>               
                    <input type="submit" value="Add Category" class=" btn cust-btn mt-2 bg-success">
                    <br>
                    <span class="text-danger">{{error}}</span>
                </form> </center> 
            </div>
        </div>
    </div>
</body>
