<body class="backimage" style="background-image: url(/img/0101.jpg); background-size: cover;"></body>>
    <div class="container-fluid login-cont">
      <center>  <div class="sub-container">
            <div class="inner w-50">
                <form style="margin-top: 12em;" action="" method="post" enctype="multipart/form-data">
                    <h2 style="color: rgb(243, 243, 243);" class="text-center">Add your Banner</h2>
                    <br>
                    
                    <input class="form-control" type="text" name="name" placeholder="enter name" required>
                    <br>
                    <input style="color: aliceblue;" type="file" name="image" required>
                    <br>
                    <button style="border-radius: 6px;"><input type="submit" value="Add Banner" class=" btn cust-btn"></button>
                    <br><br>
                    <a href="/admin/showBanner" class="text-dark"><button style="border-radius: 3px;">Back</button></a>
                    
                </form>
            </div>
        </div>
        </center>
    </div>
</body>