<body class="backimage" style="background-image: url(/img/0101.jpg); background-size: cover;">

    <div class="container-fluid">
        <div class="sub-container thehome">
            <div class="p-3">
                <h1 style="color: rgb(255, 255, 255);" class="thenewarrival">Category Side</h1>
                <div class="p-3">
                    <form class="d-flex">
                        <a href="/admin/addcategory" class="btn btn-success">Add category</a>
                    </form>
                </div>
                <div class="theArea">
                    <table class="table" id="list_users">
                        <thead>
                            <tr style="color: rgb(255, 255, 255);">
                                <th scope="col">Name</th>
                                <th scope="col">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each category}}
                            <tr style="color: rgb(255, 255, 255);">
                                <td>{{this.name}}</td>
                                <td>
                                    <a href="/admin/editcategory?id={{this._id}}" class="btn btn-primary">Edit</a>
                                    <a href="/admin/deletecategory?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
		<script>
$(document).ready( function () {
    $('#list_users').DataTable();
});
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

</body>

