<body style="background-color: rgb(46, 41, 41);">
    <div class="container-fluid login-cont">
        <div class="sub-container">
            <div class="inner">
             <center>   <form action="" method="post">
                    <h2 class="text-light">Edit Category</h2>
                    <br>
                    <input class="form-control w-50" type="text" name="name" placeholder="enter category name" value="{{category.name}}" required>
                    <br>               
                    <input type="submit" value="Save" class=" btn cust-btn mt-2 bg-success">
                    <input type="hidden" name="id" value="{{category._id}}">
                    <br>
                    <span class="text-danger">{{message}}</span>
                </form></center>
            </div>
        </div>
    </div>
</body>