
<link rel="stylesheet"type="text/css" href="/style/fullstyle.css">

<form action="" method="post">
  <label>Name:</label>
  <input type="text" id="name" required name="name">
  <br>
  <label>Mobile:</label>
  <input type="text" id="mobile" required name="mobile">
  <br>
  <label>Email:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <label>Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <label>Confirm Password:</label>
  <input type="password" id="confirm-password" required>
  <br>
  <input type="submit" value="Sign Up">
  <br> 
  <h3>{{message}}</h3>
</form>
<div class="div-back">
</div>

