<body style="background-color: rgb(46, 41, 41);">
<link rel="stylesheet"type="text/css" href="/style/fullstyle.css">
<div style="margin-top: 8em;"  class="loginclass">
<form style="border-radius: 1em;" action="/login" method="post">
  <label style="color: rgb(255, 255, 255);">Email:</label>
  <input type="text" id="username" name="email" required  placeholder="Enter your name">
  <br>
  <label style="color: rgb(255, 255, 255);">Password:</label>
  <input type="password" id="password" name="password" required placeholder="Enter your password">
  <p class="text-light">Password should contain Number,Special character and upper case</p>
  <br>
  <input type="submit" value="Login">
  <a style="color: rgb(255, 255, 255);" href="forget">Forgot your password?</a>
  <br><br>
  <a style="color: rgb(255, 255, 255);" class="newacc" href="signup"> Dont have account?</a>
</form>
<br><br><br><br>
<center><div class="w-50">
{{#if message}}
<div class="alert alert-success" role="alert"> {{message}}</div>
{{else if error}}
<div class="alert alert-danger" role="alert"> {{error}}</div>
{{/if}}
</div>
</center>
</body>


