<body style="background-color: rgb(46, 41, 41);">
<link rel="stylesheet"type="text/css" href="style/fullstyle.css">

<div style="height: 100vh;width: 100vw;display: flex;align-items: center;">
  <form style="" action="" method="post">
  <label class="text-light">New password</label>
  <input type="password" name="password" required>
  <input type="hidden" name="user_id" value="{{user_id}}">
  <br><br>
  <input type="submit" value="Submit">
</form>
</div>
<center><div class="w-50">
{{#if message}}
<div class="alert alert-success" role="alert"> {{message}}</div>
{{else if error}}
<div class="alert alert-danger" role="alert"> {{error}}</div>
{{/if}}
</div>
</center>
</body>