<body style="background-color: rgb(46, 41, 41);">
<link rel="stylesheet"type="text/css" href="style/fullstyle.css">
<div style="margin-top: 9em;">
<form action="" method="post">
  <label style="color: rgb(255, 255, 255);">OTP:</label>
  <input type="text" id="otp" name="otp" required placeholder="Enter OTP">
  <br>
  <input type="submit" value="Verify">
  <h3>{{message}}</h3>
  <p class="text-light">Check your mail for the OTP</p>
  {{!-- <button>Resend</button> --}}
</form>
</div>

<center><div class="w-50">
{{#if message}}
<div class="alert alert-success" role="alert"> {{message}}</div>
{{else if error}}
<div class="alert alert-danger" role="alert"> {{error}}</div>
{{/if}}
</div>
</div></center>
</body>